/SharpAchievments/bin
/SharpAchievments/obj
/SharpAchievments.Test/bin
/SharpAchievments.Test/obj
/SharpAchievements/bin
/SharpAchievements/obj
/SharpAchievements.Test/bin
/SharpAchievements.Test/obj
